body { font-family: 'Times New Roman', Times, serif; }

/* hyperlink text */
a { text-decoration: underline; color: blue; }


/* controls main text */
p, ul { font-size: 1em; line-height: 1.0em; color: #333; font-family: 'Times New Roman', Times, serif; }

h1, h2, h3, h4 { font-family: 'Times New Roman', Times, serif; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }

nav ul, footer ul { font-size: 1em; font-family: 'Times New Roman', Times, serif; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; list-style: none; margin-right: 10px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }


/* table stuff */
table { width: 100%; border: 1px solid #000; }

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Times New Roman', Times, serif;
}


/* Research */
/*.research h2 { text-align: center; }*/
/*.research p.tab { margin-left: 30px; font-size: .9em; }*/

/* Blog 
/*ul.posts { margin: 20px auto 40px; font-size: 1.5em; }*/
/*ul.posts li { list-style: none; }*/

/* CV */
.cv { margin: 0px 0px 60px; }
.cv p.tabbed { margin-left: 30px; margin-right: 30px; }
.cv p.hanging { margin-left: 20px; text-indent: -20px; }
/*.cv h1 { font-size: 3em; }*/
/*.cv h2 { font-size: 2em; }*/
/*.cv address, .cv .download { font-family: 'Times New Roman', Times, serif; }*/
/*.cv address, .cv p { font-size: 1.2em; }*/
/*.cv p { font-size: 1.2em; }*/
/*.cv .download { float: right; font-size: 1.5em; font-weight: bold; font-family: 'Times New Roman', Times, serif; }*/
