<!DOCTYPE html>
<html>

    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/openmoji/213/relieved-face_1f60c.png">
    </head>

    <body>

        <nav>
            <ul>
            <li><a href="/">Remy</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="https://drive.google.com/file/d/14sQt87redqrjiVvGS83N0REjXFwut5_O/view?usp=sharing">CV</a></li>
            <li><a href="/drrc">DRRC</a></li>
            </ul>
        </nav>

        <div class="container">
            {{ content }}
        </div>
  
    </body>

</html>
